---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-2xl font-bold text-primary-800 flex items-center">
      <span class="sr-only">SOCIDAIN</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        class="h-10 w-auto text-primary-600 mr-2"
      >
        <path
          fill="currentColor"
          d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM320 160c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V160z"
        ></path>
      </svg>
      <span class="text-primary-800">SOCIDAIN</span>
    </a>

    <Navigation />
  </div>
</header>
